<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
{% if page.title %}
<title>{{ site.title }} - {{ page.title }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %}
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}favicon-32x32.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}apple-touch-icon.png">
<link rel="manifest" href="{{ site.url }}site.webmanifest">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="theme-color" content="#fefefe">
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}
</head>
